<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="navbar-brand" href="/">Rails 104</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul>
        <li><%= link_to("登入",'#') %></li>
      </ul>
    </div>
  </div>
</nav>
